@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
}
body{
     background-image: url(https://th.bing.com/th/id/R.d0cbd70b6c226a57753b7e2b4c5003d8?rik=23h9miKtIe5psw&pid=ImgRaw&r=0);
     background-position: center center;
     background-size: cover ;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: #28322A;
}

.container{
     display: flex;
     justify-content: center;
     width: 100%;
     margin-top: 100px;

}
.card{
     background-color: #ffffff99;
     padding: 30px;
     border-radius: 4%;
     box-shadow: 3px 3px 1px 0px #00000060;
}
h1{
     text-align: center;
     margin-bottom: 20px;
     color: #28322A;
}
.label-float{
     position: relative;
     padding-top: 13px;
     margin-top: 5%;
     margin-bottom: 5%;
}

.label-float input{
     width: 100%;
     padding: 5px;
     display: inline-block;
     border: 0;
     border-bottom: 1px solid #28322A;
     background-color: transparent;
     outline: none;
     min-width: 180px;
     font-size: 16px;
     transition: all .3s ease-out;
     border-radius: 0;
}

.label-float label{
     position: absolute;
     color: #28322A;
     pointer-events: none;
     top: 0;
     left: 0;
     margin-top: 5px;
     transition: all .3s ease-out;
}
.label-float input:focus, label,
.label-float input:valid, label{
     font-size: 14px ;
     margin-top: 10px ;
     color: #000000;
}
.label-float input:focus{
     border-bottom: 1px solid #7B8958;
}
button{
     background-color: transparent;
     border-color: #28322A;
     color: #28322A;
     padding: 7px;
     font-weight: bold ;
     font-size: 12pt;
     margin-top: 20px;
     border-radius: 4px;
     cursor: pointer;
     outline: none;
     transition: all .4s ease-out;
}
button:hover{
     background-color: #19161A;
     color: #fff;
}
.justify-center{
     display: flex;
     justify-content: center;
}
hr{
     border-color: #000000;
     margin-top: 10%;
     margin-bottom: 10%;
     width: 60%;
}
p{
     color: #28322A;
     font-size: 14pt;
     text-align: center;
}
a{
     color: #7a3077;
     font-weight: bold;
     text-decoration: none;
}
a:hover{
     color: #151D20;
     transition: all .2s ease-out;
}
.fa-eye{
     position: absolute;
     top: 20px;
     right: 5px;
     cursor: pointer;
     color: #151D20;
}
#msgError{
     text-align: center;
     color: #ff0000;
     background-color: #ffbbbb;
     padding:  10px;
     border-radius: 4px;
     display: none;
}