*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html {
     background: #100a1c;
     background-image:
       radial-gradient(50% 30% ellipse at center top, #201e40 0%, rgba(0,0,0,0) 100%),
       radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
     background-attachment: fixed;
     color: #6cacc5;
}
body {
     color: #6cacc5;
     font: 300 18px/1.6 "Source Sans Pro",sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 3rem;
     
}

#calc{
     width: 400px;
     padding: .5rem;
     flex-direction: column;
     background: #201e40;
     color: #6cacc5;
}
#calc h3{
     font-size: .8rem;
}
#operations{
     text-align: right;
}
#previous-operation{
     color: #201e40;
     padding: 0.2rem;
     overflow-wrap: break-word;
     min-height: 1.6rem;
}
#current-operation{
     min-height: 1.6rem;
     font-size: 3rem;
     font-weight: 700;
     padding: .2rem;
     overflow-wrap: break-word;
}