*{
     margin: 0;
     padding: 0;
     border: none;
}
main{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}
button{
     width: 150px;
     height: 40px;
     color: #fff;
     background-color: #025;
     cursor: pointer;
     border-radius: 10px;
}
.curso{
     display: flex;
     justify-content: center;
     width: 200px;
     border: 4px solid  #888;
     border-radius: 10px;
     padding: 10px;
     margin: 5px 0;
     cursor: pointer;
}

.selecionado{
     background: #800 !important;
     color: #fcc;
     border-color: #f00;
}
.c1{
     background: #ccc;
     color: #444;
}
.c2{
     background: #444;
     color: #ccc;
}
.caixa{
     border: 4px solid #000;
     background: #eee;
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     margin: 5px;
     height: 500px;
     width: 300px;
}